* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333533;
    font-size: 1.6rem;
}

.header {
    align-items: center;
    background-color: #242423;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 40px;
    width: 100vw;
}

li, a {
    color: white;
    text-decoration: none;
}

.header__img--logo {
    cursor: pointer;
    height: 100%;
}

.header-nav ul {
    background-color: #333533;
    border-radius: 20px;
}

.header-nav ul li {
    display: inline-block;
    padding: 5px 15px;
}

.header__button--contact {
    background-color: #339989;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 30px;
    padding: 3px 10px;
}

.main {
    color: #f2f2f2;
    height: auto;
    padding: 30px 0px;
    width: 100vw;
}

.main__carac--left {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main__carac--right {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.main__img {
    width: 50%;
}

.main-text-container {
    letter-spacing: 1px;
    padding: 80px;
    text-align: left;
    width: 50%;
}

.main-text__title {
    font-size: 3.2rem;
    margin-bottom: 25px;
}

.main-text-container p {
    font-size: 1.8rem;
}

.footer {
    background-color: #242423;
    border-top: 2px solid cornsilk;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
}

.footer__img--logo {
    cursor: pointer;
    height: 50px;
}

.footer__title {
    color: #339989;
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.footer-nav-links ul{
    list-style: none;
}

.footer-nav-links li {
    margin: 5px 0;
}